NET clk IOSTANDARD = LVCMOS18 | LOC = E3;

NET rst IOSTANDARD = LVCMOS18 | LOC = N17;

NET SevSeg<0> IOSTANDARD = LVCMOS18 | LOC = L18;
NET SevSeg<1> IOSTANDARD = LVCMOS18 | LOC = T11;
NET SevSeg<2> IOSTANDARD = LVCMOS18 | LOC = P15;
NET SevSeg<3> IOSTANDARD = LVCMOS18 | LOC = K13;
NET SevSeg<4> IOSTANDARD = LVCMOS18 | LOC = K16;
NET SevSeg<5> IOSTANDARD = LVCMOS18 | LOC = R10;
NET SevSeg<6> IOSTANDARD = LVCMOS18 | LOC = T10;

NET an<0> IOSTANDARD = LVCMOS18 | LOC = J17;
NET an<1> IOSTANDARD = LVCMOS18 | LOC = J18;
NET an<2> IOSTANDARD = LVCMOS18 | LOC = T9;
NET an<3> IOSTANDARD = LVCMOS18 | LOC = J14;
NET an<4> IOSTANDARD = LVCMOS18 | LOC = P14;
NET an<5> IOSTANDARD = LVCMOS18 | LOC = T14;
NET an<6> IOSTANDARD = LVCMOS18 | LOC = K2;
NET an<7> IOSTANDARD = LVCMOS18 | LOC = U13;